@model BeTheChangeFinal.Models.Posts


@{
    ViewData["Title"] = "CreatePost";
}

<h1>Create</h1>

<h4>Posts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PostDetails" class="control-label">Post Details</label>
                <input asp-for="PostDetails" class="form-control" />
                <span asp-validation-for="PostDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDate" class="control-label">Date Posted</label>
                <input asp-for="PostDate" class="form-control" />
                <span asp-validation-for="PostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostTitle" class="control-label">Post title</label>
                <input asp-for="PostTitle" class="form-control" />
                <span asp-validation-for="PostTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="UserEmail"  hidden value="@User.Identity.Name"  class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Publish" class="btn btn-primary" style="background-color:peachpuff; border-style:solid; border-color:darkslategrey; color:black" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
