@model BeTheChangeFinal.Models.Charity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Charity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CharityId" />
            <div class="form-group">
                <label asp-for="CharityDetails" class="control-label">Charity Details</label>
                <input asp-for="CharityDetails" class="form-control" />
                <span asp-validation-for="CharityDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharityName" class="control-label">Charity Name</label>
                <input asp-for="CharityName" class="form-control" />
                <span asp-validation-for="CharityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharityOrganization" class="control-label">Charity Orginizaiton</label>
                <input asp-for="CharityOrganization" class="form-control" />
                <span asp-validation-for="CharityOrganization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharityLocation" class="control-label">Charity Location</label>
                <input asp-for="CharityLocation" class="form-control" />
                <span asp-validation-for="CharityLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharityLink" class="control-label">Charity Link</label>
                <input asp-for="CharityLink" class="form-control" />
                <span asp-validation-for="CharityLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CtypeName" class="control-label">Charity Type</label>
                <select asp-for="CtypeName" class="form-control" asp-items="ViewBag.CtypeName"></select>
                <span asp-validation-for="CtypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
