<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeTheChangeFinal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:lightgray">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="background-color:navajowhite">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="logo.png" alt="logo" style="width:130px; height:130px;" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <img src="user.png" alt="user" style="width:30px;height:30px" />
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <div class="menu-container" id="menu-container" style="height:inherit">
                <div class="main-nav-link" id="main-nav-link" style="padding:15px">
                    <a style="color:#2b2d2f" href="#">Search Charities  *</a>
                    <a style="color:#2b2d2f" href="#">Search Disasters  *</a>
                    <a style="color:#2b2d2f" href="#">Search Custom Causes  *</a>
                    <a style="color:#2b2d2f" href="#">Tap for Change  *</a>
                    <a style="color:#2b2d2f" href="#">Create a Cause</a>
                </div>
            </div>
            <div id="welcome_container">
                <div class="main-nav-link" id="welcome_nav" style="padding:15px; background-color:none; border:none;">
                    <img id="starfish" src="~/starfish.png" alt="star" />
                    <div class="text-center">
                        <h1 style="color:#2b2d2f; padding-left:25px; padding-right:25px" class="display-4">Welcome!</h1>
                    </div>
                    <img id="honeycomb" src="~/honeycomb.png" alt="honeycomb" />
                </div>
            </div>
            <div class="text-center">
                <p>Thank you for being the change we need!</p>
            </div>
            <div class="row" style="margin-top:20px; margin-right:20px">
                <div class="column" style="background-color:floralwhite; border-style:dotted; border-color:darkslategrey; padding:15px">
                    <form>
                        <fieldset>
                            <div class="row">
                                <h4 style="padding-left:25px; margin-top:10px">Make A Post</h4>
                                <img id="pen" src="~/pen.png" alt="pen" style="padding-left:300px"/>
                            </div>
                            <p>
                                <label>Post Title</label>
                                <input type="text" id="post_title" style="margin-left: 10px; max-height:25px; min-width:300px"/>
                            </p>
                            <p>
                                <label>Contents</label>
                                <input type="text"
                                       id="post_details" style="min-height: 75px; min-width: 430px; margin-left: 10px;" />
                            </p>
                        </fieldset>
                        <button type="button" style="background-color:peachpuff; border:solid;border-color:black; margin-left:450px">Publish</button>
                    </form>
                </div>
            </div>
            <div id="earthquakeEX" class="text-center">
                <img id="exdisaster" src="~/puertoRico.png" alt="earthquake" style="width:inherit; margin-top:75px; border-style:solid;border-color:darkslategrey"/>
                <div id="urgent_text" class="text-center" style="background-color:floralwhite; border-style:solid; border-color:darkslategrey">
                    <h3 style="padding:10px;"><strong>Ugrent Notice!</strong></h3>
                    <p style="padding-left:10px; padding-right:10px">Thousands of people are seeking refuge and escape from the <bold>1,000 earthquakes</bold> that have hit Puerto Rico this year. Red Cross disaster works are on site to help by caring for the many people affected by this tragedy, but they need your help! </p>
                    <h4><strong>What YOU Can Do to Help</strong></h4>
                    <p style="padding-left:10px; padding-right:10px">You can help people affected by the Puerto Rico Earthquakes by texting the word EARTHQUAKES to 90999 to make a $10 donation or indicating this disaster on the donation form on redcross.org, and printing and mailing to your local Red Cross chapter(redcross.org).</p>
                    <button type="button" style="background-color:peachpuff; border:solid; border-color:black; margin-bottom:15px">Donate Now</button>
                </div>
            </div>
        </main>
    </div>
   
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BeTheChangeFinal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
