@{
    ViewData["Title"] = "Be The Change";
}           
            <div class="text-center">
                <h1 class="display-4">Welcome to Be The Change! </h1>
                <h6>Thank you for being the change we need!  Making difference in the world one step at a time!</h6>
            </div>

            <div id="earthquakeEX" class="text-center">
                <h2>Cause of the Month</h2>
                <h3 style="padding:10px;"><strong>Puerto Rico Earthquake Crisis!</strong></h3>
                <img id="exdisaster" src="~/puertoRico.png" style="width:inherit; margin-top:75px; border-style:solid;border-color:darkslategrey" />
                <div id="urgent_text" class="text-center" style="background-color:floralwhite; border-style:solid; border-color:darkslategrey">
                    <h3 style="padding:10px;"><strong>What is happening?</strong></h3>
                    <p style="padding-left:10px; padding-right:10px">Thousands of people are seeking refuge and escape from the <bold>1,000 earthquakes</bold> that have hit Puerto Rico this year. Red Cross disaster works are on site to help by caring for the many people affected by this tragedy, but they need your help! </p>
                    <h4><strong>How can you make a difference?</strong></h4>
                    <p style="padding-left:10px; padding-right:10px">You can help people affected by the Puerto Rico Earthquakes by texting the word EARTHQUAKES to 90999 to make a $10 donation or indicating this disaster on the donation form on redcross.org, and printing and mailing to your local Red Cross chapter(redcross.org).</p>
                    <button type="button" style="background-color:peachpuff; border:solid; border-color:black; margin-bottom:15px" onclick="window.open('https://www.redcross.org/donate/donation.html/');">Donate Now</button>
                </div>
            </div>
        