@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <main role="main" class="pb-3">
        <div id="welcome_container">
            <div class="main-nav-link" id="welcome_nav" style="padding:15px; background-color:none; border:none;">
                <img id="starfish" src="~/starfish.png" alt="star" />
                <div class="text-center">
                    <h1 style="color:#2b2d2f; padding-left:25px; padding-right:25px" class="display-4">Welcome!</h1>
                </div>
                <img id="honeycomb" src="~/honeycomb.png" alt="honeycomb" />
            </div>
        </div>
        <div class="text-center">
            <p>Thank you for being the change we need!</p>
        </div>
        <div id="earthquakeEX" class="text-center">
            <img id="exdisaster" src="~/puertoRico.png" alt="earthquake" style="width:inherit; margin-top:75px; border-style:solid;border-color:darkslategrey" />
            <div id="urgent_text" class="text-center" style="background-color:floralwhite; border-style:solid; border-color:darkslategrey">
                <h3 style="padding:10px;"><strong>Ugrent Notice!</strong></h3>
                <p style="padding-left:10px; padding-right:10px">Thousands of people are seeking refuge and escape from the <bold>1,000 earthquakes</bold> that have hit Puerto Rico this year. Red Cross disaster works are on site to help by caring for the many people affected by this tragedy, but they need your help! </p>
                <h4><strong>What YOU Can Do to Help</strong></h4>
                <p style="padding-left:10px; padding-right:10px">You can help people affected by the Puerto Rico Earthquakes by texting the word EARTHQUAKES to 90999 to make a $10 donation or indicating this disaster on the donation form on redcross.org, and printing and mailing to your local Red Cross chapter(redcross.org).</p>
                <button type="button" style="background-color:peachpuff; border:solid; border-color:black; margin-bottom:15px">Donate Now</button>
            </div>
        </div>
    </main>
</div>