@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We do not share your information to any third party! Your donation habits or interest to different projects may be analyzed for a study!</p>
