@model IEnumerable<BeTheChangeFinal.Models.CharityType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Charity Type</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>@item.CtypeName</td>
            <td>

                |
                <a asp-action="Details" asp-route-id="@item.CtypeName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CtypeName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
